# Basics of python:
- Data Types
- Control Flow
- Functions
- OOP in Python

# Data Types:
- Python has a few data types, it includes basic data types like integers, strings , floating points, booleans, lists(Arrays), tuples, sets, dicts(Objects).

- Integers:
- Every real number (-inf to +inf)

Variable declaration:

name = value

In [3]:
num1 = 10
num2 = 20

In [4]:
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

30
-10
200
0.5

- Floating points (float)
    - EVERY -inf to +inf

In [5]:
float1 = 1.5
float2 = 6.5

In [9]:
#Comments -> Something that python ignores but is needed for the developers to understand the code. 
print(float2+float1) #This line adds two floats (float 1 and float 2)
print(float1-float2)
print(float2*float1)
print(float1/float2)

8.0
-5.0
9.75
0.23076923076923078

- Booleans:
    - Booleans simply represent True or False.

In [10]:
boolean=True
boolean_false = False

- Strings:
    - Strings are pretty much everything. They are decalred by the use of quotes or double quotes.

In [13]:
name = 'Alice' #String
address = "123 Street XYZ"

In [14]:
print(name)
print(address)

Alice
123 Street XYZ

In [15]:
#Iterable-> Something that can be iterated through

#Slicing:
name

'Alice'

In [22]:
name[0] #Index, indexing is always done from 0 in python. 
name[0:3] #Elements from upto the second index

'Ali'

Slicing Syntax:
Slicing is simply cutting somehting in to blocks.

[start_index:stop_index:skip]

start_index &#8594; INCLUSIVE : meaning it is counted when slicing the string

stop_index &#8594; EXCLUSIVE :meaning it is not counted when slicing the string

skip has the default value of 0

skip basically jumps over the number of specifed elements

In [25]:
name[0:5:2]

'Aie'

Negative indexing:

Indexing but negative.

We move right to left

In [32]:
#ALICE->0,1,2,3,4

name[-3:-1]

'ic'

In [33]:
#Reversing a string with negative indexing:
name[::-1]

'ecilA'